<p>
  <span data-bind="if: canEditCountry">
      <a href="#" class="mb-5" data-bind="click: function() {regionMode('edit'); initSliders()}">Edit</a>
  </span>
  <span data-bind="ifnot: canEditCountry">
      <a href="#" 
         data-toggle="modal"
         data-target="#new-country" 
         data-bind="text: mode() == 'scenario' ? 'Edit this baseline' : 'Create an editable copy of this baseline',
                    click: setupNewCountryForm">
      </a>
  </span>
  <span data-bind="if: mode() == 'scenario'">
      <span style="margin: 0 10px;">|</span>
      <a href="#"
         data-toggle="modal"
         data-target="#choose-different-baseline"
         data-bind="click: newScenario().clear()">
          Change to a different baseline   
      </a>
  </span>
</p>
<div class="text-secondary" data-bind="with: currentRegion">
    <div class="d-inline mr-3 text-secondary">
        <strong>Year</strong>: <span data-bind="text: year"></span>
    </div>
    <div class="d-inline mr-3">
        <strong>Age range</strong>: <span data-bind="text: ageStart"></span> - <span data-bind="text: ageEnd"></span>
    </div>
    <div class="d-inline mr-3">
        <strong>Model estimated baseline under 5 prevalence</strong>:42.6
    </div>
</div>

<div class="mt-5" style="width: 700px;">
    <canvas class="seasonal"></canvas>
</div>
<div style="width: 400px;" class="mt-5">
    <canvas class="vectors"></canvas>
</div>
<div style="width: 700px;" class="mt-5">
    <canvas class="itn"></canvas>
</div>