<div data-bind="if: mode() == 'scenario'">
    <h5>Baseline data for <span data-bind="text: showScenarioSection() && currentScenario().region()
    && currentScenario().region().name + ','"></span>
        <span data-bind="text: showScenarioSection() && currentScenario().country().name"></span></h5>
    
</div>