<div id="new-scenario" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New scenario</h5>
            </div>
            <div class="modal-body">
                <h2>Choose a country or region</h2>
                <div class="country-chooser">
                    <ul data-bind="foreach: countries">
                        <li data-bind="text: $data"></li>
                    </ul>
                </div>

                <div>
                    <h2>Enter a name for the scenario</h2>
                    <input type="text" placeholder="scenario name"/>
                </div>
            </div>
            <div class="modal-footer">
                <div>
                    <button>Save</button>
                    <button>Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>