<div id="new-country" class="modal fade" role="dialog" data-bind="with: newCountryForm">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Create a new baseline</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    The <span data-bind="text: originalName"></span>
                    baseline is built-in and can't be changed. Instead, you can
                    create a copy of this data and then edit that copy.
                </div>
                <div class="mt-3 mb-2">
                    <div class="mb-1">Enter a name for the new baseline data set</div>
                    <input type="text" class="form-control rounded-0"
                           data-bind="textInput: name"/>
                </div>
            </div>
            <div class="modal-footer">
                <div>
                    <button class="btn btn-primary rounded-0"
                            data-toggle="modal"
                            data-target="#new-country"
                            data-bind="click: addCountry">Save
                    </button>
                    <button class="btn btn-light rounded-0" data-toggle="modal" data-target="#new-country">Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="choose-different-baseline" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Choose a different baseline</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div data-bind="with: newScenario">
                    <div class="m-3">
                        <%- include('country-chooser') %>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div>
                    <button class="btn btn-primary rounded-0"
                            data-toggle="modal"
                            data-target="#choose-different-baseline"
                            data-bind="click: changeBaseline">
                        Save
                    </button>
                    <button class="btn btn-light rounded-0" 
                            data-toggle="modal" 
                            data-target="#choose-different-baseline">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>