html, body {
    height: 100%;
}

.sidebar {
    float: left;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-dialog-lg {
    max-width: 800px !important;
}

.mode-bar {
    width: 38px;
}

.mode-bar ul {
    top: 101px;
    left: -66px;
    transform: rotate(+90deg);
    transform-origin: top;
    position: fixed;
}

.mode-bar ul li {
    border-right: 1px solid #dee2e6;
}

.add-open {
    font-size: 30px;
    text-align: center;
    height: 50px;
}

.scenario-bar, .section-bar, .country-bar, .region-bar, .results-bar {
    -webkit-transition: width 500s ease;
    -moz-transition: width 500s ease;
    -o-transition: width 500ms ease;
    transition: width 500ms ease;
    width: 0;
    border: 0;
}

.section-bar {
    padding-top: 49px;
}

.country-bar {
    background-color: #edf6ef;
}

.scenario-bar {
    background-color: #e3f2fd;
}

.sidebar.in {
    width: 180px;
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;

}

a.active {
    background: #007bff;
    color: white !important;
}

.nav-item.focus {
    background: #b5c1ca;
}

input[type='checkbox'] {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid #555;
    vertical-align: top;
}

.form-group.active, .settings {
    background: #e9ecef;
}

.settings {
    margin-left: -1em;
    padding: 1em;
}

label.checkbox-label {
    margin-top: 3px;
}

input[type='number'] {
    width: 50px;
}

input[type='number'].form-control {
    width: 80px;
}

.custom-tabs .tab-pane {
    display: none;
}

.custom-tabs .tab-pane.active.show {
    display: block;
}

.contents, .tab-content, .tab-pane, .full-screen {
    height: 100%;
}

.full-screen {
    overflow-y: auto;
}